{
  "openapi": "3.0.0",
  "info": {
    "title": "bunny.net API",
    "description": "<img src='https://bunny.net/v2/images/bunnynet-logo-dark.svg' style='width: 200px;' alt='bunny.net Logo'>\n               Learn how to use the [bunny.net](https://bunny.net \"bunny.net - The content delivery platform that truly hops.\") API. Everything that can be done with the control panel can also be achieved with our API documented on this page. To learn how to use the storage API, have a look at our <a href='https://bunnycdnstorage.docs.apiary.io/#'>storage API documentation</a>\n               <h2>Third party API clients:</h2> \n               <br/>\n               We currently do not maintain an official API library, but you can use one of the third party ones provided here:<br/><br/>\n               <a rel='nofollow' href='https://github.com/codewithmark/bunnycdn'>https://github.com/codewithmark/bunnycdn</a> (bunny.net PHP library, thanks to <a rel=\"nofollow\" href='https://codewithmark.com'>Code With Mark</a>)\n               <br/><br/>\n               <i style='font-size: 11px;'><b>Note that third party clients are not maintained or developed by bunny.net so we unfortunately cannot offer support for them.</b></i>",
    "termsOfService": "https://bunny.net/tos",
    "contact": {
      "name": "bunny.net",
      "url": "https://docs.bunny.net",
      "email": "support@bunny.net"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bunny.net",
      "description": "bunny.net API Server"
    }
  ],
  "security": [
    {
      "AccessKey": []
    }
  ],
  "paths": {
    "/country": {
      "get": {
        "tags": ["Countries"],
        "summary": "Get Country List",
        "operationId": "CountriesPublic_GetCountryList",
        "responses": {
          "200": {
            "description": "The list of countries and tax rates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dnszone": {
      "get": {
        "tags": ["DNS Zone"],
        "summary": "List DNS Zones",
        "operationId": "DnsZonePublic_Index",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 1
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000,
              "maximum": 1000.0,
              "minimum": 5.0
            },
            "x-position": 2
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term that will be used to filter the results",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "The list of DNS Zones on the account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModelOfDnsZoneModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": ["DNS Zone"],
        "summary": "Add DNS Zone",
        "operationId": "DnsZonePublic_Add",
        "requestBody": {
          "x-name": "dnsZoneModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsZoneAddModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "The DNS Zone was successfuly added"
          },
          "400": {
            "description": "Failed adding the DNS Zone. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dnszone/{id}": {
      "get": {
        "tags": ["DNS Zone"],
        "summary": "Get DNS Zone",
        "operationId": "DnsZonePublic_Index2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the DNS Zone that will be returned",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The DNS Zone with the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneModel"
                }
              }
            }
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": ["DNS Zone"],
        "summary": "Update DNS Zones",
        "operationId": "DnsZonePublic_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the DNS Zone that will be updated",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "The configuration that should be applied to the DNS zone",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDnsZoneModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "The DNS Zone with the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneModel"
                }
              }
            }
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": ["DNS Zone"],
        "summary": "Delete DNS Zone",
        "operationId": "DnsZonePublic_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The DNS Zone ID that will be deleted.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The DNS Zone was successfuly deleted."
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "400": {
            "description": "Failed deleting the DNS Zone. See error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dnszone/{id}/export": {
      "get": {
        "tags": ["DNS Zone"],
        "operationId": "DnsZonePublic_Export",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/dnszone/checkavailability": {
      "post": {
        "tags": ["DNS Zone"],
        "summary": "Check the DNS zone availability",
        "operationId": "DnsZonePublic_CheckAvailability",
        "requestBody": {
          "x-name": "dnsZoneRequest",
          "description": "The zone that will be checked",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the model determinining if the zone is available or not"
          },
          "400": {
            "description": "Failed checking the zone availability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dnszone/{zoneId}/records": {
      "put": {
        "tags": ["DNS Zone"],
        "summary": "Add DNS Record",
        "operationId": "DnsZonePublic_AddRecord",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "description": "The DNS Zone ID to which the record will be added.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "recordModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDnsRecordModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "The DNS record was successfuly added.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsRecordModel"
                }
              }
            }
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "400": {
            "description": "Failed adding the DNS record. Model validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dnszone/{zoneId}/records/{id}": {
      "post": {
        "tags": ["DNS Zone"],
        "summary": "Update DNS Record",
        "operationId": "DnsZonePublic_UpdateRecord",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "description": "The DNS Zone ID that contains the record.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the DNS record that will be updated.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "recordModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDnsRecordModel"
              }
            }
          },
          "required": true,
          "x-position": 3
        },
        "responses": {
          "204": {
            "description": "The DNS record was successfuly updated."
          },
          "404": {
            "description": "The DNS Zone or DNS Record with the requested ID does not exist."
          },
          "400": {
            "description": "Failed updating the DNS record. Model validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": ["DNS Zone"],
        "summary": "Delete DNS Record",
        "operationId": "DnsZonePublic_DeleteRecord",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "description": "The DNS Zone ID that contains the record.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the DNS record that will be deleted.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "204": {
            "description": "The DNS record was successfuly deleted."
          },
          "404": {
            "description": "The DNS Zone or DNS Record with the requested ID does not exist."
          },
          "400": {
            "description": "Failed deleting the DNS Record. See error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dnszone/{zoneId}/import": {
      "post": {
        "tags": ["DNS Zone"],
        "summary": "Import DNS Records",
        "operationId": "DnsZonePublic_Import",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "description": "The DNS Zone ID that should import the data.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The import operation has finished successfuly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsZoneImportResultModel"
                }
              }
            }
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "400": {
            "description": "Failed importing data. See error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dnszone/{zoneId}/certificate/issue": {
      "post": {
        "tags": ["DNS Zone"],
        "summary": "Issue new wildcard certificate",
        "operationId": "DnsZonePublic_IssueWildcardCertificate",
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "description": "The DNS Zone ID requiring a new certificate.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "requestModel",
          "content": {
            "application/json": {
              "schema": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/IssueWildcardCertificateRequestModel"
                  }
                ]
              }
            }
          },
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "A certificate has been issued successfully"
          },
          "404": {
            "description": "The DNS Zone with the requested ID does not exist."
          },
          "400": {
            "description": "Failed to issue a new certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone": {
      "get": {
        "tags": ["Pull Zone"],
        "summary": "List Pull Zones",
        "operationId": "PullZonePublic_Index",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 1
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000,
              "maximum": 1000.0,
              "minimum": 5.0
            },
            "x-position": 2
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term that will be used to filter the results",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "includeCertificate",
            "in": "query",
            "description": "Determines if the result hostnames should contain the SSL certificate",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "The list of all the pull zones on the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModelOfPullZoneModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Add Pull Zone",
        "operationId": "PullZonePublic_Add",
        "requestBody": {
          "x-name": "pullZoneModel",
          "description": "The Pull Zone that will be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullZoneAddModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "The Pull Zone was successfuly added"
          },
          "400": {
            "description": "Failed adding Pull Zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{id}": {
      "get": {
        "tags": ["Pull Zone"],
        "summary": "Get Pull Zone",
        "operationId": "PullZonePublic_Index2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the Pull Zone that should be returned",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "includeCertificate",
            "in": "query",
            "description": "Determines if the result hostnames should contain the SSL certificate",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "The Pull Zone with the requested ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneModel"
                }
              }
            }
          },
          "404": {
            "description": "The Pull Zone with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Update Pull Zone",
        "operationId": "PullZonePublic_UpdatePullZone",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the Pull Zone that should be updated",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "The Pull Zone update configuration",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullZoneSettingsModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "The Pull Zone was successfuly updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullZoneModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed configuring the Storage Zone. Model validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "404": {
            "description": "The Storage Zone with the requested ID does not exist."
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": ["Pull Zone"],
        "summary": "Delete Pull Zone",
        "operationId": "PullZonePublic_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the Pull Zone that should be deleted",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The Pull Zone was successfully deleted"
          },
          "404": {
            "description": "The Pull Zone with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{pullZoneId}/edgerules/{edgeRuleId}": {
      "delete": {
        "tags": ["Pull Zone"],
        "summary": "Delete Edge Rule",
        "operationId": "PullZonePublic_DeleteEdgeRule",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "required": true,
            "description": "The ID of the Pull Zone that contains the Edge Rule",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "edgeRuleId",
            "in": "path",
            "required": true,
            "description": "The ID of the Edge Rule that should be deleted",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "204": {
            "description": "The Edge Rule was successfuly deleted"
          },
          "404": {
            "description": "The Pull Zone or Edge Rule with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{pullZoneId}/edgerules/addOrUpdate": {
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Add/Update Edge Rule",
        "operationId": "PullZonePublic_AddEdgeRule",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "required": true,
            "description": "The ID of the Pull Zone where the Edge Rule will be created",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "edgeRuleModel",
          "description": "The Edge Rule that will be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EdgeRuleV2Model"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "The Edge Rule was successfuly added"
          },
          "404": {
            "description": "The Pull Zone with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{pullZoneId}/edgerules/{edgeRuleId}/setEdgeRuleEnabled": {
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Set Edge Rule Enabled",
        "operationId": "PullZonePublic_SetEdgeRuleEnabled",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "required": true,
            "description": "The ID of the Pull Zone that contains the Edge Rule",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "edgeRuleId",
            "in": "path",
            "required": true,
            "description": "The ID of the Edge Rule that should be updated",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "The toggle switch model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 3
        },
        "responses": {
          "204": {
            "description": "The Edge Rule was successfuly updated"
          },
          "404": {
            "description": "The Pull Zone or Edge Rule with the requested ID does not exist."
          },
          "400": {
            "description": "Failed configuring the Edge Rule. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{pullZoneId}/originshield/queuestatistics": {
      "get": {
        "tags": ["Pull Zone"],
        "summary": "Get Origin Shield Queue Statistics",
        "operationId": "PullZonePublic_OriginShieldConcurrencyStatistics",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "required": true,
            "description": "(Optional) If set, the statistics will be only returned for the given Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "(Optional) The start date of the statistics. If no value is passed, the last 30 days will be returned.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "(Optional) The end date of the statistics. If no value is passed, the last 30 days will be returned.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "hourly",
            "in": "query",
            "description": "(Optional) If true, the statistics data will be returned in hourly groupping.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "The statistics data for the passed parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OriginShieldConcurrencyStatisticsModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{pullZoneId}/safehop/statistics": {
      "get": {
        "tags": ["Pull Zone"],
        "summary": "Get SafeHop Statistics",
        "operationId": "PullZonePublic_SafeHopStatistics",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "required": true,
            "description": "(Optional) If set, the statistics will be only returned for the given Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "(Optional) The start date of the statistics. If no value is passed, the last 30 days will be returned.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "(Optional) The end date of the statistics. If no value is passed, the last 30 days will be returned.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "hourly",
            "in": "query",
            "description": "(Optional) If true, the statistics data will be returned in hourly groupping.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "The statistics data for the passed parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafeHopStatisticsModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{pullZoneId}/optimizer/statistics": {
      "get": {
        "tags": ["Pull Zone"],
        "summary": "Get Optimizer Statistics",
        "operationId": "PullZonePublic_OptimizerStatistics",
        "parameters": [
          {
            "name": "pullZoneId",
            "in": "path",
            "required": true,
            "description": "(Optional) If set, the statistics will be only returned for the given Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "(Optional) The start date of the statistics. If no value is passed, the last 30 days will be returned.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "(Optional) The end date of the statistics. If no value is passed, the last 30 days will be returned.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "hourly",
            "in": "query",
            "description": "(Optional) If true, the statistics data will be returned in hourly groupping.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "The statistics data for the passed parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizerStatisticsModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{id}/updatePrivateKeyType": {
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Change hostname private key type",
        "operationId": "PullZonePublic_UpdatePrivateKeyType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The hostname that the private key type will be updated on",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateKeyUpdateModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "The key type was changed successfully"
          },
          "400": {
            "description": "Failed to update key type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "404": {
            "description": "The hostname was not found in the account"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/loadFreeCertificate": {
      "get": {
        "tags": ["Pull Zone"],
        "summary": "Load Free Certificate",
        "operationId": "PullZonePublic_LoadFreeCertificate",
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "description": "The hostname that the certificate will be loaded for",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "useOnlyHttp01",
            "in": "query",
            "description": "If false and a Bunny DNS Zone exists for the domain, DNS01 validation we be attempted. This has no effect on wildcard domains, as this can only use DNS01",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "The certificate was successfuly loaded"
          },
          "400": {
            "description": "Failed configuring the certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "404": {
            "description": "The hostname was not found in the account"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{id}/purgeCache": {
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Purge Cache",
        "operationId": "PullZonePublic_PurgeCachePostByTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the Pull Zone that should be cleared",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "purgeModel",
          "content": {
            "application/json": {
              "schema": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PullZonePurgeModel"
                  }
                ]
              }
            }
          },
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The cache was successfuly purged"
          },
          "404": {
            "description": "The Pull Zone with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/checkavailability": {
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Check the pull zone availability",
        "operationId": "PullZonePublic_CheckAvailability",
        "requestBody": {
          "x-name": "pullZoneRequest",
          "description": "The zone that will be checked",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the model determinining if the zone is available or not"
          },
          "400": {
            "description": "Failed checking the zone availability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{id}/addCertificate": {
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Add Custom Certificate",
        "operationId": "PullZonePublic_AddCertificate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "requestModel",
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCertificateRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The certificate was successfuly added"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed adding the certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{id}/removeCertificate": {
      "delete": {
        "tags": ["Pull Zone"],
        "summary": "Remove Certificate",
        "operationId": "PullZonePublic_RemoveCertificate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "requestModel",
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveCertificateRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The certificate was successfuly removed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed removing certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{id}/addHostname": {
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Add Custom Hostname",
        "operationId": "PullZonePublic_AddHostname",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "requestModel",
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddHostnameRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The hostname was successfully added"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{id}/removeHostname": {
      "delete": {
        "tags": ["Pull Zone"],
        "summary": "Remove Custom Hostname",
        "operationId": "PullZonePublic_RemoveHostname",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveHostnameRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The hostname was successfully removed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed removing hostname",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{id}/setForceSSL": {
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Set Force SSL",
        "operationId": "PullZonePublic_SetForceSSL",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForceSSLRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "Force SSL was successfully updated"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to configure Force SSL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{id}/resetSecurityKey": {
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Reset Token Key",
        "operationId": "ResetSecurityKeyEndpoint_ResetSecurityKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "Custom security key",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPullZoneSecurityKeyModel"
              }
            }
          },
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The key was successfully reset"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to reset the security key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIPullZones",
              "SubuserPullZones",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIPullZones",
              "SubuserPullZones",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/pullzone/{id}/addAllowedReferrer": {
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Add Allowed Referer",
        "operationId": "PullZonePublic_AddAllowedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAllowedReferrerRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The allowed referer was successfuly added"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to configure allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{id}/removeAllowedReferrer": {
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Remove Allowed Referer",
        "operationId": "PullZonePublic_RemoveAllowedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The allowed referer was successfuly removed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to remove allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{id}/addBlockedReferrer": {
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Add Blocked Referer",
        "operationId": "PullZonePublic_AddBlockedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedReferrerRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The blocked referer was successfuly added"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to configure blocked referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{id}/removeBlockedReferrer": {
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Remove Blocked Referer",
        "operationId": "PullZonePublic_RemoveBlockedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The blocked referer was successfuly removed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to remove blocked referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{id}/addBlockedIp": {
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Add Blocked IP",
        "operationId": "PullZonePublic_AddBlockedIp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedIpRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The blocked IP was successfuly added"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to configure blocked IP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pullzone/{id}/removeBlockedIp": {
      "post": {
        "tags": ["Pull Zone"],
        "summary": "Remove Blocked IP",
        "operationId": "PullZonePublic_RemoveBlockedIp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Pull Zone",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBlockedIpRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The blocked IP was successfuly removed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to remove blocked IP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/purge": {
      "post": {
        "tags": ["Purge"],
        "summary": "Purge URL",
        "operationId": "PurgePublic_IndexPost",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The URL that will be purged from cache.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "async",
            "in": "query",
            "description": "(Optional) Determines if the call should wait for the purge logic to complete",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          },
          {
            "name": "exactPath",
            "in": "query",
            "description": "(Optional) When true and the URL ends with '/', purges only the exact path without adding a wildcard suffix. Only applies when the pull zone has IgnoreQueryStrings disabled.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "The purge request was successfully processed."
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/region": {
      "get": {
        "tags": ["Region"],
        "summary": "Region list",
        "operationId": "RegionPublic_Index",
        "responses": {
          "200": {
            "description": "Returns the list of region codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegionModel"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/storagezone": {
      "get": {
        "tags": ["Storage Zone"],
        "summary": "List Storage Zones",
        "operationId": "StorageZonePublic_Index",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 1
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000,
              "maximum": 1000.0,
              "minimum": 5.0
            },
            "x-position": 2
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 3
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term that will be used to filter the results",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "The list of storage zones on the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModelOfStorageZoneModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": ["Storage Zone"],
        "summary": "Add Storage Zone",
        "operationId": "StorageZonePublic_Add",
        "requestBody": {
          "x-name": "storageZoneModel",
          "description": "The storage zone that will be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageZoneModelAdd"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "The storage zone that was added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageZoneModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed adding the Storage Zone. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/storagezone/checkavailability": {
      "post": {
        "tags": ["Storage Zone"],
        "summary": "Check the storage zone availability",
        "operationId": "StorageZonePublic_CheckAvailability",
        "requestBody": {
          "x-name": "storageZoneRequest",
          "description": "The zone that will be checked",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAvailabilityRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the model determinining if the zone is available or not"
          },
          "400": {
            "description": "Failed checking the zone availability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/storagezone/{id}": {
      "get": {
        "tags": ["Storage Zone"],
        "summary": "Get Storage Zone",
        "operationId": "StorageZonePublic_Index2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the Storage Zone that should be returned",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The Storage Zone with the given ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageZoneModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Storage Zone with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": ["Storage Zone"],
        "summary": "Update Storage Zone",
        "operationId": "StorageZonePublic_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the storage zone that should be updated",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "The configuration that should be applied to the storage zone",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageZoneSettingsModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The storage zone was successfuly updated"
          },
          "400": {
            "description": "Failed configuring the Storage Zone. Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "404": {
            "description": "The Storage Zone with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": ["Storage Zone"],
        "summary": "Delete Storage Zone",
        "operationId": "StorageZonePublic_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The Storage Zone ID that should be deleted",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "deleteLinkedPullZones",
            "in": "query",
            "description": "Deletes all pull zones linked to this storage zone (default behavior)",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "204": {
            "description": "The Storage Zone was successfully deleted"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Storage Zone with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/storagezone/{id}/resetPassword": {
      "post": {
        "tags": ["Storage Zone"],
        "summary": "Reset Password",
        "operationId": "StorageZonePublic_ResetPassword",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the storage zone that should have the password reset",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The password has been successfuly changed"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Storage Zone with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/storagezone/resetReadOnlyPassword": {
      "post": {
        "tags": ["Storage Zone"],
        "summary": "Reset Read-Only Password",
        "operationId": "StorageZonePublic_ResetReadOnlyPassword",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the storage zone that should have the read-only password reset",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The read-only password has been successfuly changed."
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Storage Zone with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/videolibrary": {
      "get": {
        "tags": ["Stream Video Library"],
        "summary": "List Video Libraries",
        "operationId": "VideoLibraryPublic_Index",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 1
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000,
              "maximum": 1000.0,
              "minimum": 5.0
            },
            "x-position": 2
          },
          {
            "name": "search",
            "in": "query",
            "description": "The search term that will be used to filter the results",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "The list of Video Libraries on the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationListModelOfVideoLibraryModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": ["Stream Video Library"],
        "summary": "Add Video Library",
        "operationId": "VideoLibraryPublic_Add",
        "requestBody": {
          "x-name": "videoLibraryModel",
          "content": {
            "application/json": {
              "schema": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/VideoLibraryCreateModel"
                  }
                ]
              }
            }
          },
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "The added video library",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "400": {
            "description": "Failed to add video library",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          }
        }
      }
    },
    "/videolibrary/{id}": {
      "get": {
        "tags": ["Stream Video Library"],
        "summary": "Get Video Library",
        "operationId": "VideoLibraryPublic_Index2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the Video Library that will be returned",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The requested video library",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": ["Stream Video Library"],
        "summary": "Update Video Library",
        "operationId": "VideoLibraryPublic_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/VideoLibraryUpdateModel"
                  }
                ]
              }
            }
          },
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The requested video library has been successfuly deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": ["Stream Video Library"],
        "summary": "Delete Video Library",
        "operationId": "VideoLibraryPublic_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the Video Library that should be deleted",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The requested video library has been successfuly deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/videolibrary/languages": {
      "get": {
        "tags": ["Stream Video Library"],
        "summary": "Get Languages",
        "operationId": "VideoLibraryPublic_Index3",
        "responses": {
          "200": {
            "description": "A list of language information objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/videolibrary/resetApiKey": {
      "post": {
        "tags": ["Stream Video Library"],
        "summary": "Reset API Key",
        "operationId": "VideoLibraryPublic_ResetPassword",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the video library that should have the API key reset",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The API key has been successfully changed"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/videolibrary/{id}/resetApiKey": {
      "post": {
        "tags": ["Stream Video Library"],
        "summary": "Reset API Key",
        "operationId": "VideoLibraryPublic_ResetPassword2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the video library that should have the API key reset",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The API key has been successfully changed"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/videolibrary/resetReadOnlyApiKey": {
      "post": {
        "tags": ["Stream Video Library"],
        "summary": "Reset Read Only API Key",
        "operationId": "VideoLibraryPublic_ResetReadOnlyApiKey",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the video library that should have the read only API key reset",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The Read Only API key has been successfully changed"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/videolibrary/{id}/resetReadOnlyApiKey": {
      "post": {
        "tags": ["Stream Video Library"],
        "summary": "Reset Read Only API Key",
        "operationId": "VideoLibraryPublic_ResetReadOnlyApiKey2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the video library that should have the read only API key reset",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The Read Only API key has been successfully changed"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/videolibrary/{id}/watermark": {
      "put": {
        "tags": ["Stream Video Library"],
        "summary": "Add Watermark",
        "operationId": "VideoLibraryPublic_AddWatermark",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Video Library",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The watermark has been successfuly uploaded"
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist"
          },
          "413": {
            "description": "The uploaded file was too large"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": ["Stream Video Library"],
        "summary": "Delete Watermark",
        "operationId": "VideoLibraryPublic_DeleteWatermark",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Video Library",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "The watermark has been successfuly deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryModel"
                }
              }
            }
          },
          "404": {
            "description": "The Video Library with the requested ID does not exist"
          },
          "413": {
            "description": "The uploaded file was too large"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/videolibrary/{id}/addAllowedReferrer": {
      "post": {
        "tags": ["Stream Video Library"],
        "summary": "Add Allowed Referer",
        "operationId": "VideoLibraryPublic_AddAllowedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Video Library",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAllowedReferrerRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The allowed referer was successfuly added"
          },
          "404": {
            "description": "The Video Library with the requested ID was not found"
          },
          "400": {
            "description": "Failed to add allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/videolibrary/{id}/removeAllowedReferrer": {
      "post": {
        "tags": ["Stream Video Library"],
        "summary": "Remove Allowed Referer",
        "operationId": "VideoLibraryPublic_RemoveAllowedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Video Library",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlockedReferrerRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The allowed referer was successfuly removed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to remove allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/videolibrary/{id}/addBlockedReferrer": {
      "post": {
        "tags": ["Stream Video Library"],
        "summary": "Add Blocked Referer",
        "operationId": "VideoLibraryPublic_AddBlockedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Video Library",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveAllowedReferrerRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The allowed referer was successfuly removed"
          },
          "404": {
            "description": "The Video Library with the requested ID was not found"
          },
          "400": {
            "description": "Failed to remove allowed referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/videolibrary/{id}/removeBlockedReferrer": {
      "post": {
        "tags": ["Stream Video Library"],
        "summary": "Remove Blocked Referer",
        "operationId": "VideoLibraryPublic_RemoveBlockedReferrer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Video Library",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "Request model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBlockedReferrerRequestModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "The blocked referer was successfuly removed"
          },
          "404": {
            "description": "The Pull Zone with the requested ID was not found"
          },
          "400": {
            "description": "Failed to remove blocked referer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorData"
                }
              }
            }
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/videolibrary/{id}/transcribing/statistics": {
      "get": {
        "tags": ["Stream Video Library"],
        "summary": "Get Video Library Transcribing Statistics",
        "operationId": "GetTranscribingStatisticsEndpoint_Statistics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the video library for which the transcribing statistics will be returned",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "(Optional) The start date of the statistics. If no value is passed, the last 14 days will be returned",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "(Optional) The end date of the statistics. If no value is passed, current date will be used",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the statistics for the video library with the given ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoLibraryTranscriptionStatisticsModel"
                }
              }
            }
          },
          "404": {
            "description": "The video library with the requested ID does not exist"
          },
          "401": {
            "description": "The request authorization failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "AccessKey": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          },
          {
            "bearer": [
              "User",
              "UserApi",
              "SubuserAPIStream",
              "SubuserStream",
              "SubuserManage",
              "SubuserAPIManage"
            ]
          }
        ]
      }
    },
    "/videolibrary/{id}/live/thumbnail": {
      "put": {
        "tags": ["Stream Video Library"],
        "summary": "Add Live Thumbnail",
        "operationId": "AddLiveThumbnailEndpoint_AddThumbnail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the requested Video Library",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
[...]
